
.top_f{
    margin-top: 5px;
    display: flex;
    width:80%;
    justify-content: center;
    align-items: stretch;
}

.name{
  margin-left: 10px;
}
.files_prew {
  justify-content: center;
  display: flex;
  align-items: stretch;
  width: 80%;
  flex-direction: row; 
}

.show_info {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  list-style: none;
}

.trash {
    background: none; 
    border: none;
  }

html{
    margin: 0px 20px 0px 20px;
}
