<header>
  <nav class="navbar">
    <ul>
      <li class="li"><%= link_to "Home", root_path %></li><br>
      <li class="li"><%= link_to "New File", new_path %></li><br>
      
    </ul>
  </nav>
</header>