<h1>Settings</h1>

<p >Welcome to your account settings page! Here you can customize various aspects of your account to enhance your experience.</p>
<ul>
  <li class="nav-item"><%= link_to "Help", help_settings_path, class: "nav-link ml-3" %></li>
  <li class="nav-item"></li><%= link_to "Profile", class: "nav-link ml-3" %></li>
  <li class="nav-item"></li><%= link_to "Notifications", class: "nav-link ml-3" %></li>
  <li class="nav-item"></li><%= link_to "Security Settings" , class: "nav-link ml-3"%></li>
</ul>




